<h1>Welcome to CSE Motors!</h1>

<div class="delorean">
    <img src="../images/vehicles/delorean.jpg" alt="The Delorean">
</div>

<div class="inner-box">
    <h2>DMC Delorean</h2>
    <h3>3 Cup Holders</h3>
    <h3>Superman Doors</h3>
    <h3>Fuzzy Dice!</h3>
    <img class ="own" src="../images/site/own_today.png" alt="Own Today button">
</div>

<div class="container">
    <div class="left">Delorean Upgrades</div>
    
    <div class="right">DMC Delorean Reviews</div>
  </div>

  <div class="image-container">
    <img class="box" src="../images/upgrades/flux-cap.png" alt="Image 1">
    <img class="box" src="../images/upgrades/flame.jpg" alt="Image 2">
    <img class="box" src="../images/upgrades/bumper_sticker.jpg" alt="Image 3">
    <img class="box" src="../images/upgrades/hub-cap.jpg" alt="Image 4">
  </div>
  
  <div class="review-container">
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>