<h1>Welcome to CSE Motors!</h1>

<div class="delorean">
    <img src="../images/vehicles/delorean.jpg" alt="The Delorean">
</div>

<div class="inner-box">
    <h2>DMC Delorean</h2>
    <h3>3 Cup Holders</h3>
    <h3>Superman Doors</h3>
    <h3>Fuzzy Dice!</h3>
    <img class ="own" src="../images/site/own_today.png" alt="Own Today button">
</div>