/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/******* Mobile Screen ***************/
#top-header {
  font-size: 24px;
}

#tools {
  font-size: 20px;
  margin-left: 20px;
  margin-top: -15px;
  padding: 5px;
  text-align: right;
}

/* NAV BAR */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #151515;
  width: 100%;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #eae4e4;
  width: 100%;
}


body {
  /* Styles for mobile devices */
  background-image: none;
}

.delorean {
  margin-left: 10px;
}

.inner-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: rgba(240, 240, 240, 0.7);
  position: relative;
  margin-left: 20px;
  margin-top: -200px;
}


h2, h3 {
  color: #0085CA;
  margin-top: -10px;
  font-size: 18px;
}



.own {
  display: block;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.right {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-top: 70px;
}

.left {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-top: 200px;
  position: absolute;

}

.image-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  
}

.image-box {
  position: relative;
}

.caption {
  position: absolute;
  bottom: -25px;
  left: -55px;
  width: 100%;
  color: darkblue;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}



.review-container {
  position: absolute;
  margin-top: -450px;
  
}

ul {
  margin-top: 20px;
  text-align: left;
}
li {
  padding-bottom: 15px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: #0085CA;
  border: 1px solid #0085CA;
  padding: 20px;
  align-content: center;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #0085CA;
  border: 1px solid #0085CA;
  padding: 20px;
  align-content: center;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: #0085CA;
  border: 1px solid #0085CA;
  padding: 20px;
  align-content: center;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: #0085CA;
  border: 1px solid #0085CA;
  padding: 20px;
  align-content: center;
}

.describe {
  margin: 20px;
  color: black;

}

.deets {
  margin: 20px;
  font-size: 25px;
  color: black;
}

.price {
  margin: 20px;
  font-size: 25px;
  color: black;
  background-color: lightgray;

}


.color {
  margin: 20px;
  font-size: 25px;
  color: black;
  background-color: lightgray;
}

.miles {
  margin: 20px;
  font-size: 25px;
  color: black;
}

#inv-display {
  list-style-type: none;
  
}


#border {
  border: 2px solid #000; 
  box-sizing: border-box;
  
}

.namePrice {
  text-align: center;
}

.description-container img {
  width: 100%;
  height: 60%;
  object-fit: cover; 
  
}

/* // CREATE FORM */

.form-container {
  width: 300px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #0085CA;
  margin: 0 auto; 
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pass-word {
  font-style: italic;
}

input:required:invalid {
  background-color: white;
}

input:required:invalid.show-invalid {
  background-color: rgb(245, 190, 190); 
}

input:required:valid {
  background-color: lightgreen;
 }

.notice {
  list-style: none;
  color: red;
  text-transform: uppercase;
}



footer {
  margin-top: auto;
}

/******* Larger Screen ***************/
@media (min-width: 768px) {
  #top-header {
    font-size: 24px;
  }

  #tools {
    font-size: 16px;
    margin-left: 850px;
    margin-top: -20px;
    padding: 10px;
    
  }

  /* NAV BAR */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #151515;
    overflow: hidden;
    flex-wrap: wrap;
    
  }

  nav ul li {
    display: inline-block;
    margin-right: 50px;
    padding-left: 50px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #eae4e4;
  }

  nav ul li a:hover {
    background-color: #0085CA;
  }

  /* CREATE WRAPPER  */
    #wrapper {
      width: 1000px; 
      margin: 0 auto; 
      padding: 20px; 
      background-color: white; 
      border: 5px solid #0085CA;
      border-radius: 20px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

  body {
    background-image: url(../images/site/small_check.jpg);
    
  }

  .delorean {
    margin-left: 200px;
  }

  .inner-box {
    width: 200px;
    height: 175px;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.7);
    position: relative;
    margin-left: 100px;
    margin-top: -250px;
  }

  h2, h3 {
    color: #0085CA;
  }

  .own {
    display: block;
    width: 150px; 
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -5px;
    
  }

  .container {
    display: flex;
  }

  .left, .right {
    flex: 1;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
    padding-right: 20px;
    
    
  }

  .right {
    text-align: right;
    margin-right: 80px;
    
    
  }

  .left {
    margin-top: 70px;
    text-align: left;
  }

  .image-container {
    position: absolute;
    top: 56%;
    left: 33%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    
    
  } 

  .caption {
    position: absolute;
    bottom: -25px;
    left: -50px;
    width: 200px; 
    color: darkblue;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
  }
  

  .review-container {
    margin-left: 500px;
    margin-top: -40px;
  }

  li {
    padding-bottom: 15px;
  }

/* ADD INVENTORY DETAILS */


  .description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 20px;
    
    
  }
  .description-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 0;
    padding: 20px;
    
  }
  .describe {
    word-wrap: normal; 
    color: black;
    margin: 15px;
    
    
    
  }

  .deets {
    margin: 15px;
    font-size: 25px;
  }

  .price {
    margin: 15px;
    font-size: 25px;
  
  }
  

  .color {
    margin: 15px;
    font-size: 25px;
  }

  .miles {
    margin: 15px;
    font-size: 25px;
  }
  
  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    height: 400px;
    list-style-type: none;
    
  }

  #inv-display img {
    width: 100%;
    height: 60%;
    object-fit: cover; 
    
  }

  #border {
    border: 2px solid #000; 
    box-sizing: border-box;
    
  }

  .namePrice {
    text-align: center;
  }

/* CREATE FORM */

.form-container {
  width: 300px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #0085CA;
  margin: 0 auto; 
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pass-word {
  font-style: italic;
}

/* input:required:invalid {
  background-color: white; 
} */

input:required:invalid.show-invalid {
  background-color: rgb(245, 190, 190); 
}
input:required:valid {
  background-color: lightgreen;
 }

.notice {
  list-style: none;
  color: red;
  text-transform: uppercase;
}

/* ACCOUNT MANAGMENT LINKS */

#newLink {
  font-size: 25px;
  margin-left: 70px;
}

a:hover {
  color: purple;
}

#invDescription {
  height: 100px;
}
  footer {
    margin-top: auto;
  }
}
